.about{
    max-width: 100%;
    position: relative;

    background-color: #282120;
}

.about__background{
    max-width: 100%;
}

.about__content{
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 3%;
    right:3%;

    width:40%;
    padding:1rem;
    color:white;
    background-color: rgba(0, 0, 0, 0.4)
}

.about__title{
    margin:0.5rem;
}

.about__text{
    margin:0.3rem;
}

@media (width < 50rem){
    .about__content{
        position: inherit;

        width: 100%;
        padding:3rem;
        background-color: #282120;
    }
}